
<div class="container-fluid mt-5 about-style  " id="aboutid">

<div class="row">
<div class="col-md-10 col-12 mx-auto">
<h1 class=" text-center main-heading  ">About us</h1>
<p class="text-center sub-heading ">Grow Your Carrier with us</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure mollitia dolor dolorem repellendus minima. Quis ipsam quas sint ut! Incidunt?</p>

<div class="row">



<div class="col-md-6 col-12 hero-text order">

    <figure>
<img src="/fsd_images/female_teacher.jpg" alt="hero section image" height="300vh " width="490vh">


    </figure>
</div>






{{!-- right side --}}





<div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-start  align-itmes-center flex-column">
<h1>We Are Professional teachers</h1>
<p>Hello Everyone We have a Awesome team of Professional Teacher's<span  style="font-weight: bold;">(Team Rakesh CSE)</span> with minimum 5+Years of experiences who help you to build your carrier</p>


<h1>Grow Your Carrier</h1>
<p>We are the Team of<span class="bold-style"> Professional Teachers</span>
<button class="btn-style btn-success">Read More</button>
</p>

</div>



</div>


</div>

</div>

</div>