<div class="container-fluid mt-5 about-style  " id="Serviceid">

    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class=" text-center main-heading  ">Our Services</h1>
            <p class="text-center sub-heading ">These Are Our Services That we Provide</p>

            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://cdn.pixabay.com/photo/2020/01/03/01/18/welcome-4737158_960_720.jpg"
                                    alt="Teaching" height="90vh" width="140vh">
                            </div>
                            <h4>Teaching</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, blanditiis vero minima
                                repudiandae quia laboriosam! Minima corrupti cum .</p>
                            <p></p>
                        </div>

                    </div>
                </div>


                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services Boostup">
                            <div class="icon">
                                <img src="https://cdn.pixabay.com/photo/2015/01/08/18/27/startup-593341_960_720.jpg"
                                    alt="training" height="90vh" width="140vh">
                            </div>
                            <h4>Training</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, blanditiis vero minima
                                repudiandae quia laboriosam! Minima corrupti cum .</p>
                            <p></p>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services Privacy">
                            <div class="icon">
                                <img src="https://cdn.pixabay.com/photo/2022/08/25/16/46/typing-7410775_960_720.jpg"
                                    alt="Resume Building" height="90vh" width="140vh">
                            </div>
                            <h4>Resume Building</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, blanditiis vero minima
                                repudiandae quia laboriosam! Minima corrupti cum .</p>
                            <p></p>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services Backup">
                            <div class="icon">
                                <img src="https://cdn.pixabay.com/photo/2017/01/14/10/56/people-1979261_960_720.jpg"
                                    alt="Mock interviews" height="90vh" width="140vh">
                            </div>
                            <h4>Mock Interviews</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, blanditiis vero minima
                                repudiandae quia laboriosam! Minima corrupti cum .</p>
                            <p></p>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://cdn.pixabay.com/photo/2020/03/09/13/55/engineer-4915808_960_720.jpg"
                                    alt="setting image" height="90vh" width="140vh">
                            </div>
                            <h4>Internships</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, blanditiis vero minima
                                repudiandae quia laboriosam! Minima corrupti cum .</p>
                            <p></p>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://cdn.pixabay.com/photo/2016/11/19/13/08/business-1839191_960_720.jpg"
                                    alt="setting image" height="90vh" width="140vh">
                            </div>
                            <h4>Placement Assistance</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, blanditiis vero minima
                                repudiandae quia laboriosam! Minima corrupti cum .</p>
                            <p></p>
                        </div>

                    </div>
                </div>







            </div>
        </div>
    </div>
</div>
</div>